@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; 
*/

:root {
    --orange: #FBB31F;
    --gray-title: #535457;
    --gray-main-text: #7E7F85; 
    --gray-light-text: #E4E6ED;
    --blue-text: #3A0DAA;
    --blue-link: #3C79E6;
    --light-purple: #7241EC;
    --rosa-choque: #FF32CF;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

body {
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 100%;
}

.header {
    display: grid;
    justify-content: right;

    background-color: #3A0DAA;
    padding: 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 15vh;
    
    margin-bottom: 10vh;
}

.header h4 {
    color: white;
    
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}

.header h5 {
    color: white;
    
    font-size: 12px;
    line-height: 22px;
    font-weight: 300;
}

.logo {
    display: grid;
    justify-content: center;

    margin-bottom: 10vh;
}

.separador {
    background-color: var(--orange);
    width: 70px;
    height: 8px;
    margin-left: 5vh;
    margin-bottom: 3vh;
    margin-top: 3vh;
    border-radius: 15px;
}

.content {
    display: grid;
    justify-content: center;
}

.logo img {
    width: 170px;
    height: 170px;
}

.redes-sociais img {
    width: 15px;
    height: 15px;
}

.redes-sociais button {
    background-color: #F8F8F8;
    border-radius: 10px;
    height: 43px;
    width: 156px;

    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #535457;
}

.content .login {
    background-color: #3A0DAA;
    color: white;
    border-radius: 10px;

    width: 315px;
    height: 43px;

    font-size: 18px;
    line-height: 28px;
    font-weight: 500;

    margin-top: 12px;
    margin-bottom: 12px;
}

.cadastro {
    display: grid;
    justify-content: center;
    text-align: center;
}

.cadastro h5 {
    color: #8F8F8F;
    
    font-size: 12px;
    line-height: 22px;
    font-weight: 600;
}

.cadastro h5 a {
    color: #3D6AD6;
    text-decoration: none;
}

.cadastro h5 a:hover {
    color: var(--orange);
}

/* 
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx 
Páginas padrão
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
*/

article header .main-header .voltar{
    margin-top: 7vh;
    margin-left: 5vh;
}

article header .titulo, .subtitulo {
    margin-left: 5vh;
}

article header .titulo h1 { 
    color: var(--gray-title);
    
    font-size: 34px;
    font-weight: 700;
    line-height: 44px;
}

article header .subtitulo h3 { 
    color: var(--gray-main-text);

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.wrapper {
    width: 100%;
}


.form {
    width: fit-content;
    padding-left: 5vh;
}


.form input[type=text], input[type=tel] {
    color: var(--gray-main-text);
    width: 45vh;

    border-bottom: solid 2px var(--gray-main-text);
}

.form input[type=submit] {
    background-color: var(--blue-text);
    color: var(--gray-light-text);

    width: 45vh;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.form input:focus {
    color: var(--gray-main-text);
    
    border-bottom: solid 2px var(--orange);
}

.form label {
    color: var(--blue-text);

    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-left: 0;

    padding-bottom: 2vh;
    padding-top: 5vh;
}

.form .termos {
    padding-bottom: 2vh;
    padding-top: 5vh;

    color: var(--gray-main-text);
}

.form .termos a {
    color: var(--blue-link);
    text-decoration: none;
}

.form .termos a:hover {
    color: var(--blue-link);
}

.content .card-investidor {
    margin-top: 5vh;

    background-color: var(--blue-text);
    padding: 5vh;
    height: 5vh;
    
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;

    border-radius: 50px 0px 50px 50px;
}


.content .card-emprestimo {

    background-color: var(--light-purple);
    padding: 5vh;
    height: 5vh;

    font-size: 18px;
    line-height: 28px;
    font-weight: 500;

    border-radius: 50px 50px 0px 50px;
}

.content-link a, 
.content-link a {
    color: white;
    text-decoration: none;
}

.conquista {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.content .conquista-imagem {
    display: grid;
    justify-items: center;
}

.content .conquista-imagem img {
    width: 160px;
    height: 160px;

    margin-top: 3vh;
}

.conquista .titulo-conquista p {
    color: var(--blue-text);
    
    text-align: center;
    font-size: 28px;
    line-height: 38px;
    font-weight: 600;
}

.conquista .subtitulo-conquista p {
    color: var(--gray-main-text);
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}

.conquista .pontuacao p {
    color: var(--blue-text);
    
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;

    text-align: center;
}

button {
    background-color: var(--blue-text);
    color: var(--gray-light-text);
    width: 45vh;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.rosa {
    background-color: var(--rosa-choque);
    width: 20vh;
    border-radius: 40px;
    font-size: x-large;
}

a {
    color: white;
    text-decoration: none;
}

footer {
    display: grid;
    justify-content: center;
    margin-bottom: 2vh;
}

ul {
    list-style-type: none;
    
    display: flex;
    justify-content: space-around;
}

li button {
    color: var(--gray-title);
    background-color: var(--gray-light-text);
    width: 30px;
}

li button:focus {
    color: white;
    background-color: var(--blue-text);
    width: 30px;
}

.valor-parcela {
    display: flex;
    justify-content: center;
    
}

.valor-parcela p {
    color: white;
    background-color: var(--rosa-choque);

    padding: 3vh;
    text-align: center;
    border-radius: 25px;
}

.taxa {
    display: flex;
    justify-content: center;
}

.taxa p {
    color: var(--gray-main-text);
    
    margin-top: 2vh;

    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
}